<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>

    <head>
        <title>404 - Gallery - http://gallery.moshwire.com</title>
        <link rel='stylesheet' href='{{ MEDIA_URL }}css/stylesheet.css' type='text/css' /> 
        <meta http-equiv='Content-type' content='text/html;charset=UTF-8' /> 
    </head>

    <body>
        <div id='def-body-wrapper'>
            <div id='def-header-wrapper'>
                <h1>Gallery</h1>
                <div class='def-header-footer-link'>
                    <a href='http://gallery.moshwire.com'>Home of Gallery</a>
                </div>
            </div>
            <h2>Oooops, the page you are looking for does not exist.</h2>
            <br><br>
            <center>
                <img src="{{ MEDIA_URL }}fu.gif" />
            </center>
            <div id='def-footer-wrapper'>
                <div class='def-header-footer-link'>
                    <a href='http://gallery.moshwire.com'>Home of Gallery</a> 
                </div>
            </div>
        </div>
    </body>

</html>
